{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Submit{% endblock %}</h1>
{% endblock %}

{% block content %}

<form method = "post" enctype = "multipart/form-data">
    <label for = "message">Your message:</label>
    <input type = "text" name = "message" id = "message">  <!-- create message input box -->
    <br> <br>
    <label for = "handle">Your name or handle:</label>
    <input type = "text" name = "handle" id = "handle"> <!-- create handle input box-->
    <br> <br>
    <input type="submit" value="Submit message!"> <!-- create submit button -->
</form>

{% if thanks %}
<br>
Thanks for submitting a message!
{% endif %}


{% endblock %}